<div (click)="showMenu = !showMenu">
  <button class="btn btn-primary">Menu</button>
</div>
<app-menu (close)="onClose()" (reset)="onReset()" *ngIf="showMenu"></app-menu>

<div class="container center">
  <!-- // prima colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
  </div>

  <!-- seconda colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
  </div>

  <!-- // prima colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
  </div>

  <!-- seconda colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
  </div>

  <!-- // prima colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
  </div>

  <!-- seconda colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
  </div>

  <!-- // prima colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
  </div>

  <!-- seconda colonna -->
  <div class="row gx-1 justify-content-center">
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
    <div class="brown col-lg-1 col-md-4"></div>
    <div class="white col-lg-1 col-md-4"></div>
  </div>
</div>

<app-footer-copyright></app-footer-copyright>
